/* Acá va tu código */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  color: rgb(77, 185, 228);
  font-size: 60px;
  text-align: center;
}
/* Todo el contenido */
.main-content {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.text-area-input {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  width: 300px;
  min-width: 200px;
  max-width: 400px;
}

.natural-text {
  border: 2px outset;
  display: inline-block;
}

.encrypted-text {
  border: 2px outset;
  display: inline-block;
}

/* --------------------Area de botones (accion cifrado) */

.separation-buttons {
  display: inline-block;
  height: 300px;
}

.button-area {/* div que contiene los botones */
  height: 50px;
  width: 200px;
}

.button {
  background-color: rgb(77, 185, 228);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* cuadro del input */
#offsetNumberInput {
  width: 103px;
}

#decryptButton {
  padding: 15px 18px;
}
